.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* dark background */
    padding: 10px 20px;
}

.app-name {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

 .nav-links a:hover {
        text-decoration: underline;
        color: #ddd;
 }
.footer {
    text-align: center;
    padding: 3px 2px;
    background-color: #d3d3d3;
    color: #333333;
    position: relative;
    bottom: 0;
    width: 100%;
}